altgraph==0.17
atomicwrites==1.4.0
attrs==19.3.0
auto-py-to-exe==2.7.11
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.4
cryptography==2.9.2
decorator==4.4.2
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==1.0a1
idna==2.9
importlib-metadata==1.5.0
more-itertools==8.2.0
packaging==20.1
pefile==2019.4.18
pluggy==0.13.1
py==1.8.1
pycparser==2.20
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyJWT==1.7.1
pyparsing==2.4.6
PySocks==1.7.1
pytest==5.3.5
python-decouple==3.3
python-dotenv==0.13.0
python-telegram-bot==12.7
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.23.0
six==1.15.0
tornado==6.0.4
twilio==6.35.5
urllib3==1.25.9
wcwidth==0.1.8
whichcraft==0.6.1
zipp==2.2.0
zope.event==4.5.0
zope.interface==5.2.0
